name: Release

on:
  push:
    branches:
    - release

jobs:

  release:

    name: Release
    runs-on: ubuntu-18.04
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14

    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: 12
        registry-url: https://registry.npmjs.org/

    - name: setup release tools
      run: npm install -g semantic-release@15 @semantic-release/exec

    - name: Install make
      run: sudo apt-get install -y make

    - name: Login to Docker Registry
      run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin quay.io
      env:
        DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Check generated files
      run: make check-gen-files

    - name: release
      run: npx semantic-release
      env:
        GH_TOKEN: ${{secrets.GH_TOKEN}}
